﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact me!</h2>
<h3>but not during lunch time .. :)</h3>

<address>
    zengeek.co<br />
    evergreen road,Bosten 99999<br /><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188820.04330618877!2d-71.11036951147456!3d42.31451859180291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C%20MA%2C%20USA!5e0!3m2!1sen!2sbe!4v1610551806300!5m2!1sen!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br/>    
    <abbr title="Phone">gsm:</abbr>
    425.555.0100
</address>

<address>
    <strong>sponsor:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>recruit:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>