﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHIN-YUH WANG</h1>
    <p class="lead">Junior Web Application Developer to BE</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">About me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>blabla</h2>
        <p>
           blabla
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>toto</h2>
        <p>blabla</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>titi</h2>
        <p>blabla</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>