﻿@{
    ViewBag.Title = "MyHobby";
}
<h2>I love .....</h2>
<h3>1.swimming....during the summer!!</h3>
<h3>2.drinking hot chocolate....during the winter!!</h3>

<p>info to be operated via Model-Enum, will do it tomorrow..</p>