﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ExerciseAspMVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="class=" navbar navbar-expand-lg fixed-top navbar-light bg-light"">
                <div class="container">
                    <a href="../" class="navbar-brand">@Html.ActionLink("Hire Shin Yuh", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("My Hobby", "MyHobby", "Home")</li>

                    </ul>
                    @*<div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="nav-item">@Html.ActionLink("My Hobby", "MyHobby", "Home")</li>

            </ul>
        </div>*@
                </div>
             </div>
         </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="tree"><img src="~/Content/tree.gif" alt="tree" /></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
